.intro-form {
  &--header {
    color: $color-text-primary;
    height: 100vh;
    background-image: url("/images/bg-intro-desktop.png");
    @include sm{
      background-image: url("/images/bg-intro-mobile.png");
    }
    @include xs{
      background-image: url("/images/bg-intro-mobile.png");
    }
    background-color: $color-primary-red;
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &--footer {
    padding: 1rem;
    text-align: center;
    color: $color-accent-blue;
    background-color: $color-text-primary;
    a {
      color: $color-primary-red;
      text-decoration: none;
      border-bottom: 3px dotted #ff7a7a;
    }
  }
}
.signup {
  display: grid;
  grid-template-columns: 41% auto;
  align-items: center;
  column-gap: 4rem;
  max-width: 80%;
  justify-content: center;
  @include sm {
    grid-template-columns: auto;
  }
  @include md {
    grid-template-columns: auto;
  }
  &-header {
    padding: 1rem 0;
    @include sm {
      text-align: center;
      margin-bottom: 2.5rem;
    }
    @include md {
      text-align: center;
      margin-bottom: 2.5rem;
    }
    &--primary {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      @include lg {
        font-size: 2rem;
      }
    }
    &--secondary {
      font-size: 1rem;
    }
  }
  &-form {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    font-weight: 500;
    @include xs {
      padding: 0 0 !important;
    }
    @include sm {
      padding: 0 2rem;
    }
    @include md {
      padding: 0 3rem;
    }
    &--offer {
      background-color: $color-accent-blue;
      border-radius: $border-radius;
      padding: 1rem 0;
      margin-bottom: 1rem;
      text-align: center;
      @include lg{
        padding: 1rem;
      }
      @include md{
        padding: 1rem;
      }
    }
    &--section {
      background-color: white;
      border-radius: $border-radius;
      padding: 2rem;
    }
  }
}
.form-control {
  input {
    height: 42px;
    border-radius: 0.3rem;
    border: 2px solid lighten($color-neutral-grayish-blue, 15%);
    color: $color-neutral-dark-blue;
    max-width: 100%;
    width: 100%;
    margin-bottom: 1.2rem;
    transition: 0.5s;
    padding: 1.3rem 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    caret-color: $color-neutral-dark-blue;
  }
  input::placeholder {
    color: $color-neutral-dark-blue;
  }
  input:focus {
    border: 2px solid $color-neutral-dark-blue;
    outline: none;
    border-radius: 0.3rem;
  }

}
.form-submit {
  text-align: center;

  &--btn {
    background-color: $color-primary-green;
    border-radius: $border-radius;
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding: 1rem;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1rem;
    border: 1px solid $color-primary-green;
    display: block;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    outline: none;
  }
  &--message {
    color: $color-neutral-grayish-blue;
    font-size: 0.7rem;
    a {
      color: $color-primary-red;
      cursor: pointer;
    }
  }
}
